<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppIDName</key>
	<string>Studenterhuen</string>
	<key>ApplicationIdentifierPrefix</key>
	<array>
		<string>6Y3N739X56</string>
	</array>
	<key>CreationDate</key>
	<date>2013-06-14T13:18:00Z</date>
	<key>DeveloperCertificates</key>
	<array>
		<data>
		MIIFljCCBH6gAwIBAgIIYU2s0b39s1wwDQYJKoZIhvcNAQEFBQAwgZYxCzAJ
		BgNVBAYTAlVTMRMwEQYDVQQKDApBcHBsZSBJbmMuMSwwKgYDVQQLDCNBcHBs
		ZSBXb3JsZHdpZGUgRGV2ZWxvcGVyIFJlbGF0aW9uczFEMEIGA1UEAww7QXBw
		bGUgV29ybGR3aWRlIERldmVsb3BlciBSZWxhdGlvbnMgQ2VydGlmaWNhdGlv
		biBBdXRob3JpdHkwHhcNMTMwMzI0MjAyMTIwWhcNMTQwMzI0MjAyMTIwWjCB
		iTEaMBgGCgmSJomT8ixkAQEMCjZZM043MzlYNTYxLjAsBgNVBAMMJWlQaG9u
		ZSBEaXN0cmlidXRpb246IE1vcnRlbiBTb2VyZW5zZW4xEzARBgNVBAsMCjZZ
		M043MzlYNTYxGTAXBgNVBAoMEE1vcnRlbiBTb2VyZW5zZW4xCzAJBgNVBAYT
		AkRLMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAvy5dZvf9pkTQ
		woc+uUXe5SB5G/aIMK27muJVHcLNxuRpZenZClnPQEl6M17f+F/Zet4itJpb
		rM350QAnkFPFakkLBJpH4uG3B7p3fTWrpPZU6/i9/+vzvXUIAyInhxnIELu9
		sxSK47LnHmYCQ8CXljJpjL+//qZElax93rEV/f9Ri+OFyJPiXzKu/W53GUEe
		Wm+3k8McaTauL4cKTPiKYbabFYryec6EDe6Jw5nYNZw2/hDuiDOxqmHwLrZm
		P+RwSVmJNTEtScITETXjR9sQCcFXNEdbessq10SkpuWLmbALGvXr07aAeoNc
		Zos/isFQB3p8MojP25JZukKP7IxO0QIDAQABo4IB8TCCAe0wHQYDVR0OBBYE
		FAAKYvCn6lYKW4AuAzCEn51Fe0RYMAwGA1UdEwEB/wQCMAAwHwYDVR0jBBgw
		FoAUiCcXCam2GGCL7Ou69kdZxVJUo7cwggEPBgNVHSAEggEGMIIBAjCB/wYJ
		KoZIhvdjZAUBMIHxMIHDBggrBgEFBQcCAjCBtgyBs1JlbGlhbmNlIG9uIHRo
		aXMgY2VydGlmaWNhdGUgYnkgYW55IHBhcnR5IGFzc3VtZXMgYWNjZXB0YW5j
		ZSBvZiB0aGUgdGhlbiBhcHBsaWNhYmxlIHN0YW5kYXJkIHRlcm1zIGFuZCBj
		b25kaXRpb25zIG9mIHVzZSwgY2VydGlmaWNhdGUgcG9saWN5IGFuZCBjZXJ0
		aWZpY2F0aW9uIHByYWN0aWNlIHN0YXRlbWVudHMuMCkGCCsGAQUFBwIBFh1o
		dHRwOi8vd3d3LmFwcGxlLmNvbS9hcHBsZWNhLzBNBgNVHR8ERjBEMEKgQKA+
		hjxodHRwOi8vZGV2ZWxvcGVyLmFwcGxlLmNvbS9jZXJ0aWZpY2F0aW9uYXV0
		aG9yaXR5L3d3ZHJjYS5jcmwwDgYDVR0PAQH/BAQDAgeAMBYGA1UdJQEB/wQM
		MAoGCCsGAQUFBwMDMBMGCiqGSIb3Y2QGAQQBAf8EAgUAMA0GCSqGSIb3DQEB
		BQUAA4IBAQA7o+iN8rOxQiEQRbXI/0++4jXhvFIFlTALH0NB1QG41COQUBLa
		niAjkh8YBBenXgaR7D+HC5eMBPZo69dsjRs64iiQeyo3urr4X9xDeE9c/DsU
		5pijrt99M15L7Qpachbe4WiyZLc9pDDr1dHrN7haLlZjDtCyqmioYudooeBt
		PKDESmUqT0yjGXSsmqW4YQaVk09hSLos23tJGVli6LpSNzeU9ywgb9sPKANy
		XCwJyP9XgxRCIY+iOlFst4B9HpZSDPVsxBU5QAvk5jX07AFG7sRikrqMafm3
		Dpcx5WePLIGXOOD8JsuWinmqopVPJ1ClAdKtbHlpqMH3SIzCBYWm
		</data>
	</array>
	<key>Entitlements</key>
	<dict>
		<key>application-identifier</key>
		<string>6Y3N739X56.dk.studenterapp.studenterhuen</string>
		<key>get-task-allow</key>
		<false/>
		<key>keychain-access-groups</key>
		<array>
			<string>6Y3N739X56.*</string>
		</array>
	</dict>
	<key>ExpirationDate</key>
	<date>2014-03-24T13:18:00Z</date>
	<key>Name</key>
	<string>Studenterhue</string>
	<key>TeamIdentifier</key>
	<array>
		<string>6Y3N739X56</string>
	</array>
	<key>TeamName</key>
	<string>Morten Soerensen</string>
	<key>TimeToLive</key>
	<integer>283</integer>
	<key>UUID</key>
	<string>DDB4D902-121F-4320-A189-424AB25C3B90</string>
	<key>Version</key>
	<integer>1</integer>
</dict>
</plist>
